:root {
    --background-default: #F5F4F0;
    --border-primary: #D9D9D9;
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline-color: #E1624F;
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;
    --font-family: 'Open Sans', sans-serif;
    --text-title-h1: 120% var(--font-family);
    --text-title-h2: 120% var(--font-family);
    --text-title-h3: 120% var(--font-family);
    --text-headline: 160% var(--font-family);
    --text-paragraph: 1rem/160% var(--font-family);
    --text-subtitle: 1rem/160% var(--font-family);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: var(--text-paragraph);
    background-color: var(--background-default);
    color: var(--text-secondary);
    width: 90vw;
    max-width: 1120px;
    margin: 0 auto;
}

main {
    padding-block: 88px;
}

em {
    text-transform: uppercase;
    font: var(--text-headline);
    font-size: clamp(0.8rem, 3vw, 1rem);
    font-weight: bold;
    color: var(--text-headline-color);
}

.title {
    font-weight: bold;
    color: var(--text-primary);
}

h1 {
    font: var(--text-title-h1);
    font-size: clamp(1.5rem, 5vw, 2.25rem);
}

h2 {
    font: var(--text-title-h2);
    font-size: clamp(1.2rem, 5vw, 2rem);
}

h3 {
    font: var(--text-title-h3);
    font-size: clamp(1rem, 5vw, 1.75rem);
    margin-top: 20px;
}

img {
    display: block;
    border-radius: 28px;
    width: 100%;
}

@media (width <= 600px) {
    img {
        border-radius: 12px;
    }
}